SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
TWELVE_DATA_API_KEY=YOUR_TWELVE_DATA_API_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
SEC_USER_AGENT=YOUR_NAME YOUR_EMAIL@example.com
SEC_TARGET_CIKS=0000320193,0000789019
RAW_DOCUMENTS_BUCKET=raw-documents
FRED_API_KEY=YOUR_FRED_API_KEY
BPS_API_KEY=YOUR_BPS_API_KEY