SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
TWELVE_DATA_API_KEY=YOUR_TWELVE_DATA_API_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
SEC_USER_AGENT=Fredianto private@example.com
SEC_TARGET_CIKS=0000320193,0000789019,0001018724,0001652044,0001326801,0001045810,0001067983
